<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Relecloud Galaxy Tours</title>
    <!-- Import CSS Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js core library -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart ({{ cart }})</div>
      <h1 style="text-align: center;">Relecloud Galaxy Tours</h1>
      <div class="main">
        <div class="product-container">
          <div class="product-images">
            <a :href="companyUrl" target="_blank"><img :src="selectedProdImg"></a>
            <!-- <div> to contain a row of thumbnail images -->
            <div style="text-align:left; padding-top:0; height:200px;">
              <img src="./assets/images/space-4888643_1284x856.jpg" @click="featureBookCruise" :class="{ highlight: isSelectedCruise }" style="width:12%; margin-right:0px;">
              <img src="./assets/images/asteroid-5737398_1284x856.jpg" @click="featureAsteroid" :class="{ highlight: isSelectedAsteroid }" style="width:12%; margin-left:12px; margin-right:0px;">
              <img src="./assets/images/fantasy-5732286_1284x856.jpg" @click="featureBulletTrain" :class="{ highlight: isSelectedBullet }" style="width:12%; margin-left:12px; margin-right:0px;">
              <img src="./assets/images/spaceship-5730066_1284x856.jpg" @click="featureAlienShip" :class="{ highlight: isSelectedAlien }" style="width:12%; margin-left:12px; margin-right:0px;">
            </div>
            <!-- TODO: Add listener for food-prefs data -->
            <foodprefs-list></foodprefs-list>
            <food-prefs @foodpref-submitted="addFoodpref"></food-prefs>
            <br>
            <review-list v-if="reviews.length" :reviews="reviews"></review-list>
            <review-form @review-submitted="addReview"></review-form>
          </div>
        <div class="product-desc">
            <h3 class="featureHeader" v-show="bookingType=='feature'">Add Trip Feature</h3>
            <h2>{{ productName }}</h2>
            <h3>{{ productDesc }}</h3>
            <p v-if="bookingType=='cruise' && numSeatsAvailable > 12" style="color:green;">Reservations available</p>
            <p v-else-if="bookingType=='cruise' && numSeatsAvailable <= 12 && numSeatsAvailable > 0" style="color:red;">Almost Sold Out!</p> 
            <p v-else-if="bookingType=='cruise'"><span style="color: red">Sold out!</span> Please check back for our next available shuttle.</p>
            <p v-show="bookingType=='cruise' && earlybird && numSeatsAvailable > 12" style="color: blue">Early Bird discount 12% if you book by June 30, 2051.</p>
            <p v-show="numSeatsAvailable == 0">Bookings for our next cruise shuttle will be available in February, 2051!</p>
            <h3 v-show="bookingType=='cruise' && numSeatsAvailable > 0">Passenger Rates</h3>
            <ul v-show="bookingType=='cruise' && numSeatsAvailable > 0">
              <li v-for="passengerRate in passengerRates">{{ passengerRate }}</li>
            </ul>
            <h4 v-show="bookingType=='cruise' && numSeatsAvailable > 0">Group Discounts</h4>
            <ul v-show="bookingType=='cruise' && numSeatsAvailable > 0">
              <li v-for="groupDiscount in groupDiscounts">{{ groupDiscount }}</li>
            </ul>
            <div v-show="bookingType=='feature'">
              <h3>Cost and Availability</h3>
              <h4>{{ featureDetails }}</h4>
              <p v-if="featureQty > 0" style="color:green;">Tickets available</p>
              <p v-else><span style="color: red">Tickets Sold Out!</span></p>
              <p v-show="onSale==true" style="color: blue">{{ sale }}</p>
            </div>
            <button class="button" :class="{ buttonFeature:bookingType!='cruise' }" @click="addItemToCart">{{ btnTitle }}</button>
            <button class="button" :disabled="cart==0" :class="{ disabledButton:cart==0 }" @click="removeItemFromCart">Remove Item</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import Vue app after DOM is loaded -->
    <script src="./main.js"></script>

    <!-- Import Vue components -->
    <script src="./components/FoodPrefs.js"></script>
    <script src="./components/FoodPrefsList.js"></script>
    <script src="./components/ReviewForm.js"></script>
    <script src="./components/ReviewList.js"></script>

    <!-- Mount Vue App to the DOM -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
