<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Relecloud Galaxy Tours</title>
    <!-- Import CSS Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js core library -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <!-- TODO: Add cart div -->
      <!-- TODO: Display current value of cart. -->

      <h1 style="text-align: center;">Relecloud Galaxy Tours</h1>
      <div class="main">
        <div class="product-container">
          <div class="product-images" >
            <a :href="companyUrl" target="_blank"><img :src="selectedProdImg"></a>
            <!-- <div> to contain a row of thumbnail images below the selected product image-->
            <!-- TODO: Change selected image -->
            <div style="text-align:left; padding-top:0; height:200px;">
              <img src="./assets/images/space-4888643_1284x856.jpg" style="width:12%; margin-right:0px;">
              <img src="./assets/images/asteroid-5737398_1284x856.jpg" style="width:12%; margin-left:12px; margin-right:0px;">
              <img src="./assets/images/fantasy-5732286_1284x856.jpg" style="width:12%; margin-left:12px; margin-right:0px;">
              <img src="./assets/images/spaceship-5730066_1284x856.jpg" style="width:12%; margin-left:12px; margin-right:0px;">
            </div>
          </div>
          <div class="product-desc">
            <h2>{{ productName }}</h2>
            <h3>{{ productDesc }}</h3>
            <p v-if="numSeatsAvailable > 12" style="color:green;">Reservations available</p>
            <p v-else-if="numSeatsAvailable <= 12 && numSeatsAvailable > 0" style="color:red;">Almost Sold Out!</p> 
            <p v-else><span style="color: red">Sold out!</span> Please check back for our next available shuttle.</p>
            <p v-show="earlybird && numSeatsAvailable > 12" style="color: blue">Early Bird discount 12% if you book by June 30, 2051.</p>
            <p v-show="numSeatsAvailable == 0">Bookings for our next cruise shuttle will be available in February, 2051!</p>
            <h3 v-show="numSeatsAvailable > 0">Passenger Rates</h3>
            <ul v-show="numSeatsAvailable > 0">
              <li v-for="passengerRate in passengerRates">{{ passengerRate }}</li>
            </ul>
            <h4 v-show="numSeatsAvailable > 0">Group Discounts</h4>
            <ul v-show="numSeatsAvailable > 0">
              <li v-for="groupDiscount in groupDiscounts">{{ groupDiscount }}</li>
            </ul>
            <!-- TODO: Add book cruise button -->
            <!-- TODO: Add item to cart -->
            
          </div>
        </div>
      </div>
    </div>
    <!-- Import Vue app after DOM is loaded -->
    <script src="./main.js"></script>
  </body>
</html>
